@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(168, 168, 168);
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

.container{
    display: flex;
    height: 100vh;
}

.b-right{
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background-color: #ffffff; */
    height: 100%;
}

.b-left{
    width: 260px;
    background-color: #008170;
    height: 100%;
    padding: 30px 15px;
}

.b-ava img{
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid #ffffff;
    margin-bottom: 15px;
}

.b-ava{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 20px;
}

.s-left{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 20px;

}

.s-left-item{
    display: flex;
    align-items: center;
    color: #ffffff;
    /* Cách hai cái, muốn xài phải display */
    gap: 15px;
    padding: 10px 10px;
}

.s-left-item ion-icon{
    align-items: right;
    font-size: 17px;
    padding-left: 5px;
}

.s-left-item{
    color: #ffffff;
    text-decoration: none;
}

.s-left-item:hover{
    background-color: #FFCC70;
    border-radius: 5px;
    font-weight: 600;
    color: black;
}

/* Cái này là qua trang khác nó vàng chỗ đó*/
.s-left-active{
    background-color: #FFCC70;
    border-radius: 5px;
    font-weight: 600;
    color: black;
}

/* Div đăng xuất nè */

.s_dx{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    background-color: #008170;
    height: 40px;
    color: #ffffff;
}


.s_dx_item {
    display: flex;
    align-items: center;
    color: #ffffff;
    /* Cách hai cái, muốn xài phải display */
    gap: 15px;
    padding: 10px 0;
    align-items: center;
    text-decoration: none;
}

.s_dx_item:hover{
    color: #FFCC70;
    font-weight: 600;
}


.s_dx_item a{
    color: #ffffff;
}

.s_dx_item ion-icon{
    align-items: right;
    font-size: 17px;
    padding-left: 5px;
}

.content{
    height: 100%;
    overflow-y: auto;
    flex: 1;
    background-color: #f4f5f8;
}

/* Footer nè nhaaa */
.footer{
    background-color: #008170;
    text-align: center;
    color: #ffffff;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Thanh trên cùng center nhé */
.top-center{
    display: flex;
    align-items: center;
    width: 95%;
    background-color: #ffffff;
    height: 40px;
    padding-left: 30px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-left: 5px solid #FFCC70;
}
.top-center p{
    color: #000000;
    font-weight: 600;
    font-size: 20px;
}
/* thân web */
.table-center{
    display: flex;
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 10px 10px;
    flex-direction: column;
}

/* các button */
.btn-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 10px auto;
    border-bottom: 1px solid #C8C8C8;
    padding-bottom: 5px;
}       

.btn-center-bt {
    display: flex;
    align-items: center;
    /* background-color: brown; */
}

.button {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 5px;
    border-radius: 5px;
    justify-content: center;
    padding: 10px 10px;
    text-decoration: none;
    color: black;

}

.button-them{
    background-color: #FFCC70;
}

.button-in{
    background-color: #8ABEE5;
}

.button-xtt{
    background-color: #C8C8C8;
}
.btn-center-search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-center-search input{
    padding: 8px 8px;
    border-radius: 10px;
    border: none;
    width: 200px;
    color: darkgrey;
    background-color: EEEEEE;
    border: 1px solid #CDD0CB;
    display: flex;
}

.btn-center-search button{
    padding: 8px 8px;
    border-radius: 5px;
    border: none;
}

.cdm{
    display: flex;
    padding: 10px 0; 
}

table, th, td{
    border:1px solid black;
}

.table-content{
    border-collapse:collapse;
    margin-top: 20px;
    text-align: center;
}

.table-icon button{
    background-color: #008170;
}





