@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap');

* {
    /* reset khoảng cách */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    text-decoration: none;
}

html {
    font-size: 65%;
    overflow-x: hidden;
    position: relative;
}


.top {
    display: flex;
    flex-direction: column;
}

.khungvien {
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background: var(--Main, linear-gradient(83deg, #11998e -1.62%, #38ef7d 104.38%));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    position: sticky;
    top: 0;
}

.logo {
    font-weight: 800;
    font-size: 3rem;
    color: white;
    margin-left: 30px;
}

.danhmuc {
    display: flex;
    gap: 35px;
    font-weight: 500;
    font-size: 16px;
}

.danhmuc a {
    color: #333;
    position: relative;
    font-size: 16px;
    font-weight: 600;
}

.danhmuc a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

.dropdown a:after {
    content: "";
    position: absolute;
    background-color:white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -4x;
    transition: 0.5s;
}

.danhmuc a:hover {
    color: white;
}

.danhmuc a:hover:after {
    width: 100%;
}

.danhmuc > input{
    width: 300px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #11998e;
}

.icon {
    width: 100px;
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: white;
    align-items: center;
}

.banner {
    display: flex;
    width: 90%;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.banner>img {
    display: block;
    width: 45%;
    max-width: 500px;
}

.banner>.content {
    flex: 1;
}

.content h2 {
    font-size: 40px;
    color: #3380CB;
    line-height: 60px;
}

.content h3 {
    font-weight: 500;
    font-size: 18px;
    color: #3380CB;

}

.content a {
    font-size: 17px;
    padding: 10px 0;
    line-height: 25px;
    font-weight: 500;
    gap: 5px;

}

.content span {
    font-size: 18px;
    padding: 10px 0;
    line-height: 10px;
    color: #3380CB;
    font-weight: bold;
}

.content>div {
    margin-top: 15px;
}

.content p {
    line-height: 25px;
    font-size: 16px;
    display: flex;
    font-weight: 400;
    color: black;
    align-items: center;
}

.content p i {
    color: #11998e;
    font-size: 15px;
}

.content>button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    background: var(--Main, linear-gradient(83deg, #11998e -1.62%, #38ef7d 104.38%));
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    gap: 10px;
    transition: 0.2s;
    cursor: pointer;
}
.icon i {
    color: white;
}
.icon p {
    display: flex;
    gap: 8px;
}

.content>button:hover ion-icon {
    transform: translateX(5px);
}

.content>button>a {
    color: white;
}

.content>button>ion-icon {
    color: white;
    font-size: 22px;
    transition: 0.2s;
}

.bott {
    background-color: white;
    min-height: 100%;
}

.bott-khung h3 {
    font-size: 25px;
    color: #3380CB;
}

.bott-khung {
    height: 40px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

hr {
    border: 1px solid #11998e;
    width: 300px;
}

.bott-khung span hr {
    width: 1500px;
    border: 0.5px solid #3380CB;
}

.khung-tong {
    background-color: white;
    border: 1px solid white;
    min-height: 25vh;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.khung-dm {
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 10px 20px;
    flex: 1;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    border-radius: 5px;
}

.khung-dm h3 {
    text-align: center;
    font-size: 17px;
    font-weight: 800;
    color: #3380CB;
}

.khung-dm i {
    font-size: 50px;
    background-color: #11998e;
    border-radius: 50%;
    padding: 10px 10px;
    color: white;
    border: 1px solid #11998e;

}

.khung-dm span {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: black;

}

.iconchu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.iconchu>p {
    gap: 5px;
}


.thongtinlh {
    text-align: center; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #A8D4FF;
    height: 20vh;
    display: flex;
    gap: 50px;
    width: 100%;
    margin-top: 50px;
    color: white !important;
    /* margin: 0 10px; */
}

.thongtin {
    text-align: center;
    width: 50%;
    margin: 5px 5px;
    font-size: 20px;
    padding-top: 5px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.thongtin>span {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    color: #3380CB;
    text-align: center;
}
.thongtin>p {
    text-align: left;
    font-size: 17px;
    font-weight: 800;
    color: #3380CB;
    text-align: center;

.mangxahoi {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.mangxahoi a{
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.mangxahoi label{
    color: white;
    display: flex;
    gap:10px;
}

.thongtin {
    gap: 10px;

}

.thongtin p {
    font-size: 15px;
    font-weight: 400;
    padding: 0 5px;
    display: flex;
    gap: 5px;
    color: white;
    margin-left: 40px;
}

.chinhsach p {
    display: flex;
    text-align: center;
    color: white;
    margin-left: 60px;
}

.chinhsach {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding-left: 40px;

}

.thongtin-tong {
    display: flex;
}

.dropbtn {
    display: flex;
    gap: 35px;
    font-weight: 500;
    font-size: 16px;
    color: white;
   
    padding-bottom: 7px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn a {
    color: #333;
    position: relative;
    font-size: 16px;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: gr
}
.dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    border: 1px solid #11998e;
    background:var(--Main, linear-gradient(83deg, #11998e -1.62%, #31be67 104.38%));
    min-width: 150px;
    z-index: 1;
    margin-top: 15px;
    transition-delay: 1s;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    padding: 4px 0;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: black;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

.dropdown:hover .dropbtn {
color: white;
}

.nut>a: hover {
    box-align: right;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: black solid;
    color: #3380CB;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
    font-size: 20px;
}
